<ion-header>

  <ion-navbar>
    <ion-title>Mission 4</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding no-bounce class="no-scroll">

    <ion-slides #slides>
<!-- misison 4 -->
        <ion-slide class="start-slide">
          <h2> Outstanding! Now you're ready to begin your FOURTH mission!  </h2>

            <button ion-button color="mission4" (click)="goMap()">STUDY THE MAP</button>
            <button ion-button color="primary" (click)="nextSlide()"class="animate-in-primary">LET'S GO</button>
        </ion-slide>

        <ion-slide *ngFor="let question of questions; let i = index;">

            <h3>Question {{i+1}}</h3>

            <flash-card [isFlipped]="question.flashCardFlipped">
                <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
                <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
            </flash-card>

            <h3>{{question.questionText}}</h3>

            <ion-list no-lines radio-group>

                <ion-item *ngFor="let answer of question.answers; let i = index;">

                    <ion-label>{{i+1}}. {{answer.answer}}</ion-label>
                    <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>

                </ion-item>


            </ion-list>

        </ion-slide>

        <ion-slide>
            <h2> Impressive, cadet! You have successfully completed your mission! Your Final Score is {{score}} out of 10</h2>

            <button (click)="restartQuiz()" ion-button full color="primary">Try Again?</button>
            <button (click)="goToHome()" ion-button full color="primary">BACK TO HOME</button>
            <button (click)="goMap()" ion-button full color="primary">GO TO MAP (BEFORE NEXT MISSION!)</button>
            <button (click)="goToMission5()" ion-button full color="primary">NEXT MISSION</button>


        </ion-slide>

    </ion-slides>

</ion-content>
