.ios, .md {

    page-missions {

        ion-slide {
            align-items: flex-start;
            color: #fff;
        }

        ion-item {
            margin-bottom: 5px;
            font-size: 1.1em;
            background-color: map-get($colors, primary);
            color: #fff;

        }

        flash-card {
            color: #fff;
            font-style: italic;

            img {
                width: 70%;
                height: auto;
            }
        }

        .start-slide {
            justify-content: center;
            align-items: center;

            button {
                font-size: 1.3em;
                font-weight: normal;

            }
        }

    }

}

@-webkit-keyframes animateInPrimary {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes animateInSecondary{

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-in-primary {
    -webkit-animation: animateInPrimary;
    animation: animateInPrimary;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}

.animate-in-secondary {
    -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}
